version: "3.8"
services:
  web:
    build: .
    command: sh -c '/app/bin/conduit eval "Conduit.Release.migrate" && /app/bin/server'
    ports: 
      - 4001:4000
    environment:
      DATABASE_URL: postgresql://${PG_USER}:${PG_PASSWORD}@db:5432/${PG_DB_NAME}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE} 
      PHX_HOST: ${PHX_HOST}
      CLOAK_KEY: ${CLOAK_KEY}
    depends_on:
      db: 
        condition: service_started
    profiles:
      - prod
      - dev
  db:
    image: pgvector/pgvector:pg17
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_MULTIPLE_DATABASES: ${PG_DB_NAME},metabaseappdb
    ports: 
      - 5433:5432
    volumes:
      - db:/var/lib/postgresql/data
    profiles:
      - prod
      - dev 
  proxy:
    image: caddy
    restart: unless-stopped
    ports:
      - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - static:/srv
      - caddy_data:/data
      - caddy_config:/config
    profiles:
      - prod
  metabase:
    image: metabase/metabase:latest
    hostname: metabase
    volumes:
      - /dev/urandom:/dev/random:ro
    ports:
      - 3000:3000
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabaseappdb
      MB_DB_PORT: 5432
      MB_DB_USER: ${PG_USER}
      MB_DB_PASS: ${PG_PASSWORD}
      MB_DB_HOST: db
    depends_on:
      db: 
        condition: service_started
volumes:
  db:
    driver: local
  static:
  caddy_data: 
  caddy_config:
