<% alias Conduit.Quickbooks.Object.Field %>
defmodule Conduit.Repo.Migrations.Add<%=String.capitalize(@table_name)%><%=Macro.camelize(@prefix)%> do
  use Ecto.Migration
  
  Conduit.Repo.create_schema_if_absent("<%= @prefix %>")

  def change do
    create table("<%=@table_name%>", prefix: "<%=@prefix || "public"%>", primary_key: false) do
    <%= Enum.map_join(@fields, "\n", & Field.to_migration(&1)) %>
    timestamps()
    end
  end
end
